<label>{{label}}</label>
<input type="text" class="form-control" value="{{value}}" oninput={{action (mut value) value="target.value"}} placeholder="{{placeholder}}"  {{action 'valueChanged' on='change'}}>
{{yield}}
